:root{
    --cl-blue: #23B9DC;
    --cl-white: #fff;
    

  
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

header {
    position: relative;
}

.skewedRectangle {
    min-height: 430px;
    background-color: var(--cl-blue);
    transform: skewY(-22deg);
    position: absolute;
    top: -88px;
    left: 0;
    right: 0;
    z-index: -1;
}

.icons {
    width: 24px;
    height: 24px;
}

.profile {
    position: relative;
}

.profile img {
    max-width: 100%;
    height: auto;
    margin: 2rem 0;
    aspect-ratio:  1;
    object-fit: contain;
}

.profile h1 {
    color: var(--cl-white);
    font-size: clamp(3rem, 14.26vw + 0.148rem, 13rem);
    position: absolute;
    top: clamp(16rem, 64%, 25rem);
    left: 9vw;
    width: 10ch;
    text-shadow: -3px 1px 1px black;
}   

.split {
    font-size: clamp(3rem, 14.26vw + 0.548rem, 13rem);
}

.info {
    font-size: var(--font-sz-md);
    padding: 1.4rem;
    margin: auto;
}

.info h1 {
    text-align: center;
    font-size: clamp(1.4rem, 1.569vw + 1.386rem, 2.5rem);

}

.info p {
    padding: 1rem 0;
}

.icons{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

.icon svg {
    width: 40px;
    height: 40px;
    display: block;
}

/* main starts here */

main h2 {
    text-align: center;
    font-size: clamp(1.5rem, 1.869vw + 1.586rem, 2.5rem);
    margin-bottom: 2rem;
}

.workSection {
     display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.workCard {
    width: 100%;
    min-height: 250px;
    min-width: 250px;
    max-width: clamp(340px, 355px, 360px);
    border-radius: 10px;
    box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.664);
}
.imgPlaceholder {
    width: 100%;
    height: 200px;
    background-color: #23B9DC;
    border-radius: 10px;
}

.imgPlaceholder h2 {
    color: white;
    width: 15ch;
    text-align: center;
    margin:  auto;
}

.one {
    background-color: bisque;
}

.two {
    background-color: rgb(62, 240, 62);
}


.three{
    background-color: rgb(123, 194, 236);
}

.four{
    background-color: rgb(234, 154, 236);
}

.five{
    background-color: rgb(147, 123, 236);
}

.workCard h1 {
    font-size: clamp(1.2rem, 1.141vw + 1.072rem, 2rem);
}

.workCard p {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.7rem;
}

.cardIcons svg{
    width: 30px;
    height: 30px;
}

.cardName {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 0.3rem;
}

.cardInfo{
    padding: 0.5rem;
}

footer{
    background-color: #23B9DC;
    color: white;
}

footer h1 {
    text-align: center;
    font-size: clamp(1.5rem, 1.869vw + 1.586rem, 2.5rem);
}

.footer-icons svg {
    width: 40px;
    height: 40px;
}

.footer-icons {
    display: flex;
    margin: 2rem 2rem 1rem;
    justify-content: center;
}

.paraOne {
    margin: 1rem;
}

address {
    margin: 0.2rem 1rem 0.4rem;
}

.paraTwo, .paraThree {
    margin: 0.3rem 1rem;
}

.profile-ft img{
    width: 100%;
    height: auto;
    aspect-ratio:  1 / 1 ;
    /* object-fit: contain; */
    /* background-position: center; */
    overflow: hidden;
}