:root {
    --cl-blue: #23B9DC;
    --cl-white: #fff;



}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    position: relative;
}

.skewedRectangle {
    min-height: 580px;
    background-color: var(--cl-blue);
    transform: skewY(-22deg);
    position: absolute;
    top: -131px;
    left: 0;
    right: 0;
    z-index: -10;
}

.icons {
    width: 24px;
    height: 24px;
}

.profile {
    position: relative;
}

.profile img {
    max-width: 100%;
    height: auto;
    margin: 2rem 0;
    aspect-ratio: 1;
    object-fit: contain;
}

.profile h1 {
    color: var(--cl-white);
    font-size: clamp(3rem, 14.26vw + 0.148rem, 13rem);
    position: absolute;
    top: clamp(16rem, 64%, 25rem);
    left: 9vw;
    width: 10ch;
    text-shadow: -3px 1px 1px black;
}

.split {
    font-size: clamp(3rem, 14.26vw + 0.548rem, 13rem);
}

.info {
    font-size: clamp(0.8rem, 2.42vw + 0.319rem, 2.5rem);
    padding: 1.4rem;
    margin: auto;
}

.info h1 {
    text-align: center;
    font-size: clamp(1.4rem, 1.569vw + 1.386rem, 2.5rem);
}

.info p {
    padding: 1rem 0;
}

.icons {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

.icon svg {
    width: 40px;
    height: 40px;
    display: block;
}

/* main starts here */

main h2 {
    text-align: center;
    font-size: clamp(1.5rem, 1.869vw + 1.586rem, 2.5rem);
    margin-bottom: 2rem;
}

.workSection {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    place-items: center;
}

.workCard {
    width: 100%;
    min-height: 250px;
    min-width: 250px;
    border-radius: 10px;
    box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.664);
}

.imgPlaceholder {
    /* width: 100%; */
    height: 200px;
    background-color: #23B9DC;
    border-radius: 10px;
}

.imgPlaceholder h2 {
    color: white;
    width: 15ch;
    text-align: center;
    margin: auto;
}

.one {
    background-color: bisque;
}

.two {
    background-color: rgb(62, 240, 62);
}


.three {
    background-color: rgb(123, 194, 236);
}

.four {
    background-color: rgb(234, 154, 236);
}

.five {
    background-color: rgb(147, 123, 236);
}

.workCard h1 {
    font-size: clamp(1.2rem, 1.141vw + 1.072rem, 2rem);
}

.workCard p {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.7rem;
}

.cardIcons svg {
    width: 30px;
    height: 30px;
}

.cardName {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 0.3rem;
}

.cardInfo {
    padding: 0.5rem;
}

footer {
    background-color: #23B9DC;
    color: white;
}

footer h1 {
    text-align: center;
    font-size: clamp(1.5rem, 1.869vw + 1.586rem, 2.5rem);
}

.footer-icons svg {
    width: 40px;
    height: 40px;
}

.footer-icons {
    display: flex;
    margin: 2rem 2rem 1rem;
    justify-content: center;
}

.paraOne {
    margin: 1rem;
}

address {
    margin: 0.2rem 1rem 0.4rem;
}

.paraTwo,
.paraThree {
    margin: 0.3rem 1rem;
}

.profile-ft img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    /* object-fit: contain; */
    /* background-position: center; */
    overflow: hidden;
}

@media (min-width: 600px) {
    .skewedRectangle {
        min-height: 800px;
        min-width: 500px;
        top: -250px;
    }

    .profile img {
        float: left;
        max-width: 50%;
        height: auto;
        margin: -1rem 11px 1rem;
    }

    .profile {
        min-width: 470px;
        margin: 2rem;
        max-width: none;
    }

    .icons {
        display: none;
    }

    .info {
        background-color: #fff;
        margin: 0 3rem 0 4rem;
        max-width: 700px;
        box-shadow: 2px 1px 1px black;
    }

    .info h1 {
        margin-top: 2rem;
    }

    .profile h1,
    .split {
        font-size: 2.2rem;
        top: -2px;
        width: fit-content;
        left: 18rem;
    }

    .workSection {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        max-width: none;
        gap: 1rem;
    }

    main h2 {
        margin-top: 1rem;
    }

    .contact-container {
        display: flex;
    }

    .profile-ft img {
        max-width: 380px;
        object-fit: cover;
        margin: 1rem 0 1rem 0;
    }
}

@media (min-width: 900px) {
    .hero {
        position: relative;
    }

    .info {
        padding: 1rem 2rem;
        margin: 0;
        max-width: 968px;
        font-size: 1rem;
        position: absolute;
        top: 3rem;
        left: 43%;
        z-index: -1;
        box-shadow: 7px 10px 12px 4px rgb(46, 56, 54);
    }

    .profile h1, .split {
        font-size: 3.7rem;
        top: 25rem;
        width: fit-content;
        left: 1rem;
    }

    .skewedRectangle {
        min-height: 650px;
        transform: skewY(-17deg);
    }

    .icons {
        display: flex;
    }

    .profile img {
        display: block;
        float: initial;
        margin: 0 -20px;
    }

    .workSection {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}